<h1>Ember Cli Mutation Observer Demo</h1>
<div>
  {{input value=todoName autofocus=true}} <button onclick={{action "addTodo"}}>Add todo</button>
  <button onclick={{action "clear"}}>Clear list</button>
</div>

{{outlet}}
{{#dummy-list}}
  {{#each todos as |todo|}}
    {{dummy-list-item item=todo}}
  {{/each}}
{{/dummy-list}}

<div id="mutations">
  <p>Mutations:</p>
</div>